.navbar-chacu {
    padding: 0.8rem 0;
    background-color: var(--color-bg-paper); 
    border-bottom: 1px solid var(--color-bg-default); 
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    color: var(--color-text-primary);
}

.logo-area a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo-icon {
    height: 55px;
    width: auto;
    margin-right: 0.75rem;
    object-fit: contain;
}

.logo-text {
    font-family: "Saved By Zero", "Saved-By-Zero", sans-serif; 
    font-weight: var(--font-weight-bold);
    font-size: 1.25rem;
    color: var(--color-primary);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem; 
}

.nav-link {
    color: var(--color-text-secondary); 
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
    padding-bottom: 5px; 
}

.nav-link:hover,
.nav-link.active {
    color: var(--color-primary); 
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--color-primary); 
    transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%; 
}


@media (max-width: 768px) {
    .nav-links {
        display: none; 
    }
}